.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .grd {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
    text-align: center;
  }